h4.brand-title>a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: 'Bitwise', normal;
}

h4.brand-tagline {
    font-family: 'Bitwise', normal;
}

a#me {
    text-decoration: none;
    color: #fff;
}

li.category>a {
    font-family: 'Bitwise', normal;
}

ul.categories {
    list-style-type: none;
}

img#avatar {
    padding-top: 10px;
    padding-left: 2px;
}

div.sidebar {
    background-image: linear-gradient( #fff 40%, rgba(255,255,255,0) 20%);
    background-position: right;
    background-size: 1px 50px;
    background-repeat: repeat-y;
}

.social-btn {
    margin-top: 2px;
    font-family: 'Bitwise', normal;
}

.nav-item {
    margin-top: 6px;
}

li.nav-item a {
    display: block;
    text-decoration: none;
    padding-left: 5px;
}

ul.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
