.top {
    background-image: linear-gradient(to right, #fff 40%, rgba(255,255,255,0) 20%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
}

.top-nav {
}

ul.nav.nav-pills>li a {
    font-family: 'Bitwise', 'normal';
    background-color: none;
    font-size: 1.5em;
}

ul.nav.nav-pills>li a:hover {
    background-color: darken(transparent, 10%);
    color: inherit;
    border-bottom-width: 0.7px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
}

ul.nav.nav-pills>li a:active {
    background-color: none;
    color: #fff;
    border-bottom-width: 0.7px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: transparent;
    color: #fff;
    border-bottom-width: 0.7px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
}


