{{ partial "header.html" . }}

<div class="container">

    {{ partial "top.html" . }}
    
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 sidebar-col">
            {{ partial "sidebar.html" . }}
        </div>
        <div class="col-lg-8 col-sm-8 col-xs-12">
            <div class="posts"> 
                {{ range where .Data.Pages "Type" "post" }}
                    {{ partial "summary.html" . }}
                {{ end }}
            </div>
            {{ partial "pagination.html" . }}
        </div>
    </div>

    {{ partial "footer.html" . }}
</div>
</body>
</html>
