
@import url('https://fonts.googleapis.com/css?family=VT323&subset=latin-ext');

html {
  background: repeating-linear-gradient(
    45deg,
    #01315c,
    #01315c 50px,
    #175185 50px,
    #175185 100px
  );
}

body {
  color: #fff;
}

h4.brand-title>a {
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-family: 'VT323', monospace;
}

.container {
  height:100%;
}

div.posts {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #01315c;
  background-color: rgba(1, 49,  92, 0.8);
  font-family: 'VT323', monospace;
}


pre {
  padding: 0;
}

div.sidebar {
}

h4.section-title {
  font-family: 'Bitwise', normal;
  font-family: 'VT323', monospace;
}
