
.post-content {

  border-left-width: 1.2px;
  border-left-style: solid;
  border-left-color: #0267c1;
  padding-left: 5px;
}

a.post-title {
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  color: #8e8e65;
}

article.post-content {
  font-family: 'Titillium Web', sans-serif;
  font-family: 'VT323', monospace;
  font-size: 1.4em;
  color: #00c1b1;
}

a.post-category {
  color: #1dbce2;
  margin-left: 10px;
  font-family: 'VT323', monospace;
  font-size: 1.2em;
}

section.post {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
  //background-color: rgba(1, 49, 20, 255);
}
