.top {
  border-bottom-style: dashed;
  border-bottom-color: #f00;
}

.nav {
  list-style-type: none;
}

ul.nav>li.nav-item {
  display: inline;
  margin-right: 10px;
}

.nav-item>a {
  text-decoration: none;
  color: #fff;

  font-family: 'VT323', monospace;
  font-size: 1.8em;
}
