<div id="sidebar" class="sidebar">
    <div class="header">
        <img id='avatar' class="img-responsive img-circle" src="/img/avatar.png">
        <hgroup class="me">
            <h4 class="brand-title"><a id='name' href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
            <h4 class="brand-tagline">{{ with .Site.Params.description }} {{.}} {{end}}</h2>
        </hgroup>

        <nav class="nav">
            <ul class="nav-list">
                {{ with .Site.Params.keybaseName }}
                <li class="nav-item">
                    <a class="social-btn" href="https://keybase.io/{{ . }}"><i class="fa fa-key"></i> Keybase</a>
                </li>
                {{ end }}
                {{ with .Site.Params.twitterName }}
                <li class="nav-item">
                    <a class="social-btn" href="https://twitter.com/{{ . }}"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
                {{ end }}
                {{ with .Site.Params.githubName }}
                <li class="nav-item">
                    <a class="social-btn" href="https://github.com/{{ . }} "><i class="fa fa-github-alt"></i> github</a>
                </li>
                {{ end }}
                <li class="nav-item">
                    <a class="social-btn" href="{{ .Site.BaseURL }}/index.xml"><i class="fa fa-rss"></i> rss</a>
                </li>
            </ul>
        </nav>

        <section>
            <h4 class="section-title"> Categories </h3>
            <ul class="categories">
                {{ range $name, $tax := .Site.Taxonomies.categories }}
                    <li class="category">
                        <a href="/categories/{{ $name | urlize }}">
                            {{ $name }}
                        </a>
                    </li>
                {{ end }}
            </ul>
        </section>
    </div>
</div>
