<section class="post">
    <header class="post-header">
        <h2>
            <a href="{{ .Permalink }}" class="post-title">
                {{ .Title }}
            </a>
        </h2>
        <p class="post-meta">
            {{ with .Params.author }}
                By <strong class="post-author">{{ . }}</strong>
            {{ end }}
            {{ if isset .Params "categories" }}
                Categories:
                {{ $baseUrl := .Site.BaseURL }}
                {{ range .Params.categories }}
                    <a class="post-category post-category-{{ . }}" href="{{ $baseUrl }}/categories/{{ . | urlize }}">
                        {{ . }}
                    </a>
                {{ end }}
            {{ end }}
        </p>
    </header>
    <article class="post-content">
        {{ .Summary }}
    </article>
</section>
