<div class="top">
    <div class="container-fluid">
        <span class="pull-right">
            <ul id='navbar' class="nav nav-pills top-nav">
                <li id='blog-link' class="active top-nav-item" role="presentation">
                    <a href="/"> Blog </a>
                </li>

                <li id='projects-link' class="top-nav-item" role="presentation">
                    <a href="/projects"> Projects </a>
                </li>

                <li id='about-link' class="top-nav-item" role="presentation">
                    <a href="/about"> About </a>
                </li>
            </span>
        </ul>
    </div>
</div>
